body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px; /* případně jakýkoliv jiný maximální šířku, kterou chcete */
    margin: 0 auto; /* toto vycentruje container do středu stránky */
    display: table;
}

.lessons {
    display: flex;
    flex-wrap: wrap; /* Povolíme přechod do nového řádku */
    justify-content: space-between; /* Rozprostřeme lekce rovnoměrně ve flexibilním kontejneru */
}

.lesson {
    flex: 1 0 calc(33.33% - 20px); /* Využijeme flexbox vlastnost a nastavíme šířku lekcí */
    margin: 0 10px 20px 10px; /* Nastavíme vnější okraje lekcí */
}



h1 {
    text-align: center;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-primary {
    background-color: #007bff;
    color: #fff;
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-secondary {
    background-color: #ccc;
    color: #fff;
}

.button-secondary:hover {
    background-color: #999;
}
