.lesson-detail-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    text-align: center;
}

.lesson-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lesson-info > * {
    flex-direction: column;
    text-align: left;
}


.lesson-info-container {
    border-bottom: 1px solid #ccc; /* Ohraničení dolní části kontejneru s informacemi */
    padding-bottom: 10px; /* Mezera pod sekce s informacemi */
    margin-bottom: 20px; /* Mezera mezi sekce s informacemi a kapacitou */
}

.lesson-description-container {
    border: 1px solid #ccc; /* Ohraničení popisu lekce */
    padding: 10px; /* Odsazení popisu lekce */
    margin-bottom: 20px; /* Mezera pod popisem lekce */
    display: flex;
    flex-direction: row;
}

.lesson-detail-container h2 {
    margin-bottom: 20px;
}

.lesson-detail-container p {
    margin-bottom: 10px;
}

.lesson-description {
    text-align: left;
}

/* Odsazení tlačítek dole */
.lesson-buttons {
    display: flex;
    justify-content: center;
}

.lesson-buttons button {
    margin: 0 10px; /* Odsazení mezi tlačítky */
}

.full-message {
    color: red; /* Červená barva textu */
    font-weight: bold; /* Tučný text */
}

