.login-form-container {
    width: 500px;
    margin: 0 auto; /* Nastaví horní a dolní okraj na 0 a zbytek na auto, což nacentruje formulář na střed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block; /* Zobrazí formulář jako blokový prvek */
    height: auto; /* Přidává výšku kontejneru */
    overflow: auto; /* Zajišťuje, že se vnitřní obsah bude zobrazovat i v případě, že bude přesahovat rozměry kontejneru */
    text-align: center; /* Zarovnává obsah do středu */
}

.login-form-container h2 {
    margin-bottom: 20px;
}

.login-form-container input[type="text"],
.login-form-container input[type="email"],
.login-form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-container .error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

.login-form-container button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-container button:hover {
    background-color: #0056b3;
}
