nav {
    background-color: #ababab;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    background-color: #7e7e7e;
    padding: 0 10px;
    border-left: 1px solid #ffffff; /* Ohraničení na levé straně */
    border-right: 1px solid #ffffff; /* Ohraničení na pravé straně */
    margin: 0 25px;
    font-size: xx-large;
    transition: background-color 0.3s;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li:hover {
    background-color: #cbcbcb; /* Změna barvy pozadí na hover */
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a.active {
    font-weight: bold;
}

/* Přidání stylů pro tlačítko odhlášení */
button {
    background-color: #f44336; /* Červená barva pozadí */
    color: white; /* Bílá barva textu */
    border: none; /* Žádný ohraničení */
    padding: 10px 20px; /* Odsazení uvnitř tlačítka */
    cursor: pointer; /* Změna kurzoru na ukazatel */
    border-radius: 5px; /* Zaoblené rohy */
}

/* Při najetí myši změníme barvu pozadí tlačítka */
button:hover {
    background-color: #d32f2f; /* Tmavší odstín červené */
}

/* Při stisknutí tlačítka snížíme jeho jas */
button:active {
    filter: brightness(90%); /* Snížení jasu na 90% */
}
