/* Styly pro kontejner formuláře */
.password-form-container {
    text-align: center; /* Centrování obsahu */
    margin: 0 auto; /* Centrování pole */
    width: 50%; /* Šířka kontejneru */

}

/* Styly pro vstupní pole hesla */
.password-input {
    width: 25%; /* Šířka pole na 100% kontejneru */
    padding: 8px;
    margin-top: 10px; /* Odsazení od předchozího prvku */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ujistěte se, že padding a border jsou zahrnuty ve velikosti pole */
}

/* Styly pro chybové zprávy */
.error-message {
    color: red;
    margin-top: 5px; /* Odsazení od předchozího prvku */
    font-size: 12px;
}
